<div class="container-fluid" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <canvas #canvas id="canvas" width="1280" height="720" (click)="handleCanvasClick($event)">
        Sorry, your browser doesn't support the &lt;canvas&gt; element.
      </canvas>
    </div>
    <div class="col-xs-12 col-lg-5">
      <div class="form-group row">
        <div class="col-xs-12 col-lg-4">
          <label for="targetStyle">Target Style</label>
          <p>
            <select id="targetStyle" [(ngModel)]="targetStyle" (ngModelChange)="modelChange($event)">
              <option *ngFor="let style of targetFace" [value]="style">
                {{style}}
              </option>
            </select>
          </p>
          <small class="form-text text-muted">
            Distance from the shooting line to the target face in meters.
          </small>
        </div>
        <div class="col-xs-12 col-lg-4">
          <label for="targetDistance">Target Distance</label>
          <input id="targetDistance" class="form-control" type="number" min="1" max="200" [(ngModel)]="targetDistance" (ngModelChange)="modelChange($event)">
          <small class="form-text text-muted">
            Distance from the shooting line to the target face in meters.
          </small>
        </div>
        <div class="col-xs-12 col-lg-4">
          <label for="targetDiameter">Target Diameter</label>
          <input id="targetDiameter" class="form-control" type="number" min="1" max="122" [(ngModel)]="targetDiameter" (ngModelChange)="modelChange($event)">
          <small class="form-text text-muted">
            Target face diameter in centimeters.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="eyePinDistance">Eye to Pin Distance</label>
        <input id="eyePinDistance" class="form-control" type="number" min="1" max="200" step="0.1" [(ngModel)]="eyePinDistance" (ngModelChange)="modelChange($event)">
        <small class="form-text text-muted">
          Distance from archer's (aiming) eye to the sight pin/aperture in centimeters.
          An easy way to get a reasonable approximation for this for a recurve archer is to measure the distance
          from the clicker blade to the sight pin, then add this distance to the archer's arrow length.
        </small>
      </div>
      <div class="form-group">
        <label for="apertureInnerDiameter">Aperture Inner Diameter</label>
        <input id="apertureInnerDiameter" class="form-control" type="number" min="1" max="50" step="0.1" [(ngModel)]="apertureDiameter" (ngModelChange)="modelChange($event)">
        <small class="form-text text-muted">
          Inner diameter of the sight aperture in millimeters.
        </small>
      </div>
      <div class="form-group row">
        <div class="col-xs-12 col-lg-6">
          <label for="apertureRingThickness">Aperture Ring Thickness</label>
          <input id="apertureRingThickness" class="form-control" type="number" min="1" max="5" step="0.1" [(ngModel)]="apertureRingThickness" (ngModelChange)="modelChange($event)">
          <small class="form-text text-muted">
            Thickness of aperture ring in millimeters.
          </small>
        </div>
        <div class="col-xs-12 col-lg-6">
          <label for="apertureColour">Aperture Colour</label>
          <p>
            <select id="apertureColour" [(ngModel)]="apertureColour" (ngModelChange)="modelChange($event)">
              <option value="chartreuse">Flo. Green</option>
              <option value="crimson">Dark Red</option>
              <option value="red">Bright Red</option>
              <option value="darkorange">Orange</option>
              <option value="gold">Yellow</option>
              <option value="cornflowerblue">Blue</option>
              <option value="black">Black</option>
              <option value="grey">Grey</option>
            </select>
          </p>
          <small class="form-text text-muted">
            Colour of aperture ring.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="reticleType">Reticle Type</label>
          <p>
            <select [(ngModel)]="reticleType" (ngModelChange)="modelChange($event)">
              <option value="">None (Open Ring)</option>
              <option value="dot">Dot (Lens Sticker)</option>
            </select>
          </p>
        </div>
        <div class="row" *ngIf="!!reticleType">
          <div class="col-xs-12 col-lg-6" *ngIf="!!reticleType">
            <label for="reticleSize">Reticle Size</label>
            <input id="reticleSize" class="form-control" type="number" min="0.1" max="5" step="0.1" [(ngModel)]="reticleSize" (ngModelChange)="modelChange($event)">
            <small class="form-text text-muted">
              Diameter of aiming reticle in millimeters.
            </small>
          </div>
          <div class="col-xs-12 col-lg-6">
            <label for="reticleColour">Reticle Colour</label>
            <p>
              <select id="reticleColour" [(ngModel)]="reticleColour" (ngModelChange)="modelChange($event)">
                <option value="chartreuse">Flo. Green</option>
                <option value="crimson">Dark Red</option>
                <option value="red">Bright Red</option>
                <option value="darkorange">Orange</option>
                <option value="gold">Yellow</option>
                <option value="cornflowerblue">Blue</option>
                <option value="black">Black</option>
                <option value="grey">Grey</option>
              </select>
            </p>
            <small class="form-text text-muted">
              Colour of aiming reticle.
            </small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <p>Target Minute of Angle (MOA): {{this.targetMoa}}</p>
          <p>Aperture Minute of Angle (MOA): {{this.apertureMoa}}</p>
          <p>Canvas: {{this.canvasDimensions.first | number:'1.0-0'}}x{{this.canvasDimensions.second | number:'1.0-0'}}</p>
          <p>
            Aimpoint: ({{this.aimPoint.first | number:'1.0-0'}}, {{this.aimPoint.second | number:'1.0-0'}})
            <input type="submit" value="Reset" (click)="resetAimpoint()">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
